# Ignore environment file
.env

__pycache__
*.pyc
*.pyo

*.DS_Store
*.swp
*.swo
Thumbs.db


env/
venv/

db.sqlite3

static/
media/


*.log
*.pot
*.pyc
*.pyo
*.pyd


pip-wheel-metadata/
*.egg-info/


*.dockerignore
*.env.docker
